/* 
Primary : #f72851
Light : #f8f9fa
Dark : #151313 
*/

* {
  font-family: poppins;
}

body {
  min-height: 100vh;
  margin: 16px;
  background-color: #151313;
  color: #f8f9fa;
}

.top {
  display: flex;
  gap: 200px;
  justify-content: space-between;
  align-items: center;
}

#darkMode {
  height: 30px;
  width: 70px;
  border-radius: 30px;
  background-color: #f8f9fa;
  color: #151313;
}

#rulesHeading {
  display: inline;
}

#rulesToggle {
  border-radius: 25px;
  transform: scale(0.75) rotate(-90deg);
  background-color: #f72851;
  color: #151313;
  border: solid 2px #151313;
  font-family: poppins;
  font-weight: 800;
  position: relative;
  bottom: 1.5px;
  transition: transform 0.4s;
}

#rulesToggle.active {
  transform: scale(0.75);
}

#rulesContent {
  max-height: 500px;
  opacity: 1;
  transition: all 0.4s ease;
}

.active + #rulesContent {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
